body {
  background-image: url("./images/pexels-eric-smart-2247677.jpg" );
  background-size: cover;
  background-repeat: no-repeat;
}

.transparent {
  min-height: 1000px;
  height: 90%;
  width: 90%;
  background: rgba(225,225,225, .2);
  border-radius: 50px;
  margin: 0 auto;
}

h1 {
    text-align: center;
}

#musician, #getSong {
  margin: 50px 38%;
}

.band, .songName {
  font-size: 2em;
  border-radius: 50px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
  margin-top: 30px;
  text-align: center;
}

#lyricsBox {
  border: none;
  resize: none;
  height: 750px;
  width: 50%;
  margin: 0 auto;
}

#modal1, #modal2 {
  display: none;
  margin: 0 auto;
}

.modal-button {
  background-color: darkgrey;
}
